<main class="main-search">
    <section class="main-search__header-content">
        <div class="header-content-container">
            <h1 class="header-content-container--title">Seja Bem vindo!</h1>
            <p class="header-content-container--description">Todos os dias animais, de vários lugares do Brasil esperam
                ser adotados. Não compre, adote! Temos pets de
                varios especies idades e genero,
                procurando por amigo!
            </p>
        </div>
        <img src="../../../assets/img/pet-home.png" class="header-content--img-pet">

    </section>
    <search-pet></search-pet>
</main>