html, body {
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

app-root {
    width: 100%;
    height: 100%;
}

.validationContainer {
    margin: 1% 0;
    color: red;
    font-weight: bold;
}

.input-error {
    border-left: 5px solid red;
}